<%= render 'header' %>
<div class="max-w-4xl mx-auto px-4">
  <h1 class="text-blue-800 font-bold text-2xl my-5">本一覧</h1>
  <div id="books" class="grid md:grid-cols-3 gap-4">
    <%= render @books %>
  </div>
</div>
