<div class="flex gap-x-2 border-b border-gray-200 pb-10">
  <%= form_with model: [@book, Review.new], method: :post, class: "w-full px-10" do |f| %>
    <div class="flex items-center border-b border-blue-800 py-2">
      <div class="w-full">
        <div class="pb-4">
          <%= f.select :score, [['★5', 5], ['★4', 4], ['★3', 3], ['★2', 2], ['★1', 1]], { include_blank: '評価' }, required: true  %>
        </div>
        <div class="flex">
          <%= f.text_area :message, class: "appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:ring-0 resize-none", rows: "4", placeholder: "レビューを投稿", required: true %>
          <%= f.submit '投稿', class: "flex-shrink-0 hover:bg-blue-800 border-blue-800 hover:border-blue-800 text-sm text-blue-800 py-1 px-2 rounded cursor-pointer border-2 border-blue-800 hover:text-white mt-auto" %>
        </div>
      </div>
    </div>
  <% end %>
</div>