<section class="bg-gray-100 h-full md:h-60 px-4 py-10">
  <div class="max-w-6xl mx-auto md:flex gap-x-auto justify-between">
    <div class="mb-8">
      <p class="text-2xl font-bold">Stulab</p>
    </div>
    <div class="mb-8">
      <p class="font-bold py-2">ご案内</p>
      <ul class="text-sm text-gray-600">
        <li class="mb-1 hover:underline cursor-pointer">Stulab Extreme</li>
        <li class="mb-1 hover:underline cursor-pointer">執筆を希望される方へ</li>
      </ul>
    </div>
    <div class="mb-8">
      <p class="font-bold py-2">プライバシーポリシーと利用規約</p>
      <ul class="text-sm text-gray-600">
        <li class="mb-1 hover:underline cursor-pointer">プライバシーポリシー</li>
        <li class="mb-1 hover:underline cursor-pointer">利用規約</li>
        <li class="mb-1 hover:underline cursor-pointer">特定商取引に基づく表記</li>
      </ul>
    </div>
    <div class="mb-8">
      <p class="font-bold py-2">お問い合わせ</p>
      <ul class="text-sm text-gray-600">
        <li class="mb-1 hover:underline cursor-pointer">バグレポート</li>
        <li class="mb-1 hover:underline cursor-pointer">取材・提携に関するお問い合わせ</li>
        <li class="mb-1 hover:underline cursor-pointer"><a href="https://twitter.com/higakijin">開発者Twitter</a></li>
        <li class="mb-1 hover:underline cursor-pointer"><a href="https://github.com/hulk-higakijin/stulab">Github</a></li>
      </ul>
    </div>
  </div>
</section>